<app-navbar></app-navbar>

<section style="background-color: #F5F7FA; padding: 40px 20px; text-align: center;">
  <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #1F0965; font-weight: bold; margin-bottom: 30px; font-size: 28px;">

  Welcome to TourAdventure, Your Gateway to Unforgettable Journeys</h2>
  <h3 style="font-size: 18px; color: #0759B9; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; max-width: 800px; margin: 0 auto;">
  At TourAdventure, we invite you to explore the world like never before. Discover breathtaking destinations,
    immerse yourself in diverse cultures, and create memories that will last a lifetime.

    Whether you're seeking a relaxing getaway, an adrenaline-pumping adventure, or a cultural exploration,
    we have the perfect tour for you. Our carefully curated experiences are designed to connect you with the beauty
    and wonder of the world, all while providing exceptional service and support.

    Your journey is our priority, and we're here to ensure every moment is seamless, enriching, and extraordinary.
    From booking to the final step of your adventure, we're dedicated to making your travel dreams come true.

    Welcome to TourAdventure, where your next great journey begins.
  </h3>
</section>

<app-footer></app-footer>
