<app-navbar></app-navbar>
<div class="container">
  <h2>Create Tour</h2>

  <form (ngSubmit)="onSubmit()" #tourForm="ngForm">
    <div class="form-group">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        class="form-control"
        [(ngModel)]="tourDto.name"
        required
      />
    </div>

    <div class="form-group">
      <label for="ticketCount">Ticket Count:</label>
      <input
        type="number"
        id="ticketCount"
        name="ticketCount"
        class="form-control"
        [(ngModel)]="tourDto.ticketCount"
        required
      />
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <textarea
        id="description"
        name="description"
        class="form-control"
        [(ngModel)]="tourDto.description"
        required
      ></textarea>
    </div>

    <div class="form-group">
      <label for="difficulty">Difficulty:</label>
      <select
        id="difficulty"
        name="difficulty"
        class="form-control"
        [(ngModel)]="tourDto.difficult"
        required
      >
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
    </div>

    <div class="form-group">
      <label for="price">Price:</label>
      <input
        type="number"
        id="price"
        name="price"
        class="form-control"
        [(ngModel)]="tourDto.price"
        required
      />
    </div>

    <div class="form-group">
      <label id="interests">Interests</label>
      <div>
        <label>
          <input
            type="checkbox"
            name="interest1"
            (change)="onCheckboxChange($event)"
            value="nature"
          /> Nature
        </label>
      </div>
      <div>
        <label>
          <input
            type="checkbox"
            name="interest2"
            (change)="onCheckboxChange($event)"
            value="food"
          /> Food
        </label>
      </div>
      <div>
        <label>
          <input
            type="checkbox"
            name="interest3"
            (change)="onCheckboxChange($event)"
            value="art"
          /> Art
        </label>
      </div>
      <div>
        <label>
          <input
            type="checkbox"
            name="interest4"
            (change)="onCheckboxChange($event)"
            value="sport"
          /> Sport
        </label>
      </div>
      <div>
        <label>
          <input
            type="checkbox"
            name="interest5"
            (change)="onCheckboxChange($event)"
            value="shopping"
          /> Shopping
        </label>
      </div>
    </div>

    <div id="map" style="height: 400px;"></div>

    <button type="submit" class="btn btn-primary">Create Tour</button>
  </form>
</div>

